<button mat-flat-button color="accent" (click)="onAddMember()">
  {{'VO_MEMBERS.ADD_MEMBER' | translate}}
</button>
<button mat-flat-button color="warn" class="ml-2" [disabled]="true">
  {{'VO_MEMBERS.REMOVE_MEMBERS' | translate}}
</button>
<mat-form-field class="ml-2 search-field">
  <input matInput placeholder="{{'VO_MEMBERS.SEARCH_DESCRIPTION' | translate}}" [(ngModel)]="searchString">
</mat-form-field>
<button mat-stroked-button class="ml-2" [disabled]="searchString.length === 0" (click)="onSearchByString()">
  <mat-icon>search</mat-icon>
</button>
<button mat-stroked-button class="ml-2" (click)="onListAll()">
  {{'VO_MEMBERS.LIST_ALL' | translate}}
</button>
<mat-spinner *ngIf="loading" class="ml-auto mr-auto">
</mat-spinner>
<div class="mt-3" *ngIf="members !== null && !loading">
  <app-members-list
    [members]="members"
    *ngIf="members.length !== 0">
  </app-members-list>

  <div *ngIf="members.length === 0">
    No members found.
  </div>
</div>
