.entity-menu-item {
  width: 270px;
}

.entity-menu-item-header {
  padding: 0.5rem 1rem;
}

.entity-menu-item-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entity-menu-item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;

  &:hover {
    text-decoration: none;
  }
}

.entity-menu-item-icon {
  height: 2rem
}
