<div class="entity-menu-item">
  <div class="entity-menu-item-header {{item.colorClass}}" (click)="toggle()">
    <div class="entity-menu-item-link">
      <a class="entity-menu-item-label">
        <div>
          <img
            src="assets/img/PerunWebImages/{{item.icon}}"
            class="entity-menu-item-icon"
            alt="{{item.label}}">
        </div>
        <div class="ml-3">{{item.label}}</div>
      </a>
      <a class="p-1">
        <mat-icon *ngIf="expanded">expand_less</mat-icon>
        <mat-icon *ngIf="!expanded">expand_more</mat-icon>
      </a>
    </div>
  </div>

  <div *ngIf="expanded">
    <div class="side-entity-menu">
      <div *ngFor="let link of item.links">
        <a [routerLink]="link.url" [class.activated]="isActive(currentUrl, link.activatedRegex)">
          {{link.label}}
        </a>
        <div *ngIf="isActive(currentUrl, link.showChildrenRegex)">
          <a class="pl-5" *ngFor="let child of link?.children" [routerLink]="child.url" [class.activated]="isActive(currentUrl, child.activatedRegex)">
            {{child.label}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
