<div class="entity-menu-item">
  <div class="entity-menu-item-header {{item.colorClass}}">
    <div class="entity-menu-item-link">
      <a class="entity-menu-item-label" [routerLink]="item.baseLink">
        <div>
          <img
            src="assets/img/PerunWebImages/{{item.icon}}"
            class="entity-menu-item-icon"
            alt="{{item.label}}">
        </div>
        <div class="ml-3">{{item.label}}</div>
      </a>
      <a class="p-1" (click)="toggle()">
        <mat-icon *ngIf="expanded">expand_less</mat-icon>
        <mat-icon *ngIf="!expanded">expand_more</mat-icon>
      </a>
    </div>
  </div>

  <div *ngIf="expanded">
    <div class="side-entity-menu">
      <a *ngFor="let link of item.links" [routerLink]="link.url">
        {{link.label}}
      </a>
    </div>
  </div>
</div>
