<div class="container-fluid">
  <div class="buttons-container">
    <div class="main-menu-button" [routerLink]="['organizations']">
      <img src="assets/img/PerunWebImages/vo.svg">
      <h1>Access management</h1>
      <p>Manage organizations, groups and members.</p>
    </div>
    <div class="main-menu-button">
      <img src="assets/img/PerunWebImages/facility.svg">
      <h1>Facilities management</h1>
      <p>Manage facilities and resources.</p>
    </div>
    <div class="main-menu-button" [routerLink]="['admin']">
      <img src="assets/img/PerunWebImages/perun_admin-red.svg">
      <h1>Administration tools</h1>
      <p>Manage attributes, users and do diagnostics.</p>
    </div>
  </div>
<!--  <app-menu-buttons-field [items]="items" [size]="'large'">-->
<!--  </app-menu-buttons-field>-->
</div>
