.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main-menu-button {
  color: #000000;
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  padding: 30px;

  &:hover {
    text-decoration: none;
  }
  & img {
    height: 160px
  }
  & h1 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
  }
  & p {
    text-align: center;
  }
}
