.buttons-container {
  display: grid;
  padding-top: 24px;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.main-menu-button {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 310px;
  min-height: 310px;
  padding: 30px;

  &:hover {
    text-decoration: none;
  }
  & img {
    height: 160px
  }
  & h1 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
  }
  & p {
    text-align: center;
  }
}
