<h1 mat-dialog-title>{{'DIALOGS.APPLICATION_FORM_COPY_ITEMS.TITLE' | translate}}</h1>
<div mat-dialog-content class="dialog-container">
  <div class="mb-2 font-italic">{{'DIALOGS.APPLICATION_FORM_COPY_ITEMS.DESCRIPTION' | translate}}</div>
  {{'DIALOGS.APPLICATION_FORM_COPY_ITEMS.SOURCE_VO' | translate}}:

  <mat-form-field>
    <mat-select [(ngModel)]="selectedVo" disableOptionCentering>
      <mat-option (onSelectionChange)="voSelected($event)" *ngFor="let vo of vos" [value]="vo">
        {{vo.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  {{'DIALOGS.APPLICATION_FORM_COPY_ITEMS.SOURCE_GROUP' | translate}}:

  <mat-form-field>
    <mat-select [(ngModel)]="selectedGroup" disableOptionCentering>
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    class="ml-auto"
    (click)="cancel()">
    {{'DIALOGS.APPLICATION_FORM_COPY_ITEMS.CANCEL_BUTTON' | translate}}
  </button>
  <button
    mat-flat-button
    class="ml-2"
    color="accent"
    (click)="submit()">
    {{'DIALOGS.APPLICATION_FORM_COPY_ITEMS.SUBMIT_BUTTON' | translate}}
  </button>
</div>
