<div id="nav-menu-icons">
  <button mat-icon-button
          class="mr-2 text-white mt-auto mb-auto d-block d-md-none"
          (click)="sideNav.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <a *ngFor="let item of items" class="nav-menu-icon" [routerLink]="item.url">
    <img src="assets/img/PerunWebImages/{{item.icon}}" alt="{{item.alt}}">
  </a>
</div>
<div id="nav-menu-user-info">
  <mat-icon>
    person
  </mat-icon>
  <div>
    {{principal.user.titleBefore}}
    {{principal.user.firstName}}
    {{principal.user.middleName}}
    {{principal.user.lastName}}
    {{principal.user.titleAfter}}
  </div>
</div>
