<div class="container-fluid pl-xl-5 pr-xl-5 member-theme" *ngIf="vo !== undefined && member !== undefined">
  <h1 class="page-title">
    <a class="title-link" [routerLink]="['/organizations', vo.id]">
      {{vo.name}}
    </a>
     -
    <a class="member-link" [routerLink]="['/organizations', vo.id, 'members', member.id]">
      {{fullName}}
    </a>
  </h1>
  <app-back-button *ngIf="backButtonDisplayed" [url]="['/organizations', vo.id, 'members', member.id]">
  </app-back-button>
  <router-outlet></router-outlet>
</div>
