<div class="{{theme}}">
  <h1 mat-dialog-title>{{'DIALOGS.ADD_GROUPS.TITLE' | translate}}</h1>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{'DIALOGS.ADD_GROUPS.SELECT_VO' | translate}}</mat-label>
      <input type="text" placeholder="{{'DIALOGS.ADD_GROUPS.SELECT_VO' | translate}}" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="showVoGroups()">
        <mat-option *ngFor="let vo of filteredOptions | async" [value]="vo">
          {{vo.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div style="overflow: hidden">
      <mat-spinner *ngIf="loading" class="mr-auto ml-auto"></mat-spinner>
    </div>
    <div class="mt-3" *ngIf="groups !== null && !loading">
      <div *ngIf="groups.length === 0 && firstSearchDone" class="perun-alert warn-alert">
        {{'DIALOGS.ADD_GROUPS.NO_GROUPS_FOUND' | translate}}
      </div>
      <app-groups-list
        [selection]="selection"
        [groups]="groups"
        *ngIf="groups.length !== 0">
      </app-groups-list>
    </div>

  </div>

  <div mat-dialog-actions>
    <button
      mat-flat-button
      class="ml-auto"
      color="warn"
      (click)="onCancel()">
      {{'DIALOGS.ADD_MANAGERS.CANCEL' | translate}}
    </button>
    <button
      mat-flat-button
      class="ml-2"
      color="accent"
      (click)="onSubmit()"
      [disabled]="selection.selected.length === 0">
      {{'DIALOGS.ADD_MANAGERS.CREATE' | translate}}
    </button>
  </div>
</div>
