<button mat-flat-button color="accent">
  {{'VO_GROUPS.CREATE_GROUP' | translate}}
</button>
<button mat-flat-button color="warn" class="ml-2" [disabled]="selectedGroups.size === 0">
  {{'VO_GROUPS.DELETE_GROUP' | translate}}
</button>
<mat-checkbox color="primary" class="ml-3" [(ngModel)]="showTreeStructure">
  Tree structure
</mat-checkbox>
<div class="mt-3">
  <app-groups-tree *ngIf="showTreeStructure" [voId]="vo.id">
  </app-groups-tree>
  <app-groups-list
    (groupSelectChange)="onGroupSelectChange($event)"
    *ngIf="!showTreeStructure" [voId]="vo.id">
  </app-groups-list>
</div>
