<app-perun-nav-menu
  *ngIf="principal !== undefined"
  id="nav-menu"
  [sideNav]="sidenav"
  [principal]="principal">
</app-perun-nav-menu>
<app-notificator></app-notificator>
<mat-sidenav-container id="content">
  <mat-sidenav #sidenav
               [mode]="sidebarMode"
               [opened]="false"
               [fixedInViewport]="true"
               [fixedTopGap]="64">

    <app-side-menu [sideNav]="sidenav"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content id="content-inner">
    <div class="pt-3 pb-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
