<div *ngIf="size === 'large'" class="row mt-5">
  <div *ngFor="let item of items" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a [routerLink]="item.url"
       class="menu-item-large box-button-large {{item.style}}">
      <img src="assets/img/PerunWebImages/{{item.icon}}" alt="{{item.label}}">
      <div>
        {{item.label | translate}}
      </div>
    </a>
  </div>
</div>

<div *ngIf="size === 'medium'" class="row mt-5">
  <div *ngFor="let item of items" class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
    <a [routerLink]="item.url"
       class="menu-item-medium box-button-medium {{item.style}}">
      <img src="assets/img/PerunWebImages/{{item.icon}}" alt="{{item.label}}">
      <div>
        {{item.label | translate}}
      </div>
    </a>
  </div>
</div>
