.user-detail-table {
  td {
    padding: .2rem 1rem .2rem 0;
  }

  button {
    margin-left: 4px;
    height: 24px;
    width: 24px;
    line-height: 24px;
  }

  td:last-child {
    font-weight: 500;
  }

  td:first-child {
    font-style: italic;
    color: #555555;
    width:1%;
    white-space:nowrap;
  }
}
