<div class="user-detail container-fluid">
  <div class="row">
    <table class="col-6 user-detail-table">
      <tbody>
      <tr>
        <td>
          {{'USER_DETAIL.OVERVIEW.FULL_NAME' | translate}}
        </td>
        <td>
          {{getUserFullName()}}
          <button
            mat-icon-button
            matTooltip="{{'USER_DETAIL.OVERVIEW.EDIT_NAME' | translate}}">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          {{'USER_DETAIL.OVERVIEW.USER_ID' | translate}}
        </td>
        <td>
          {{user.id}}
        </td>
      </tr>
      <tr>
        <td>
          {{'USER_DETAIL.OVERVIEW.USER_TYPE' | translate}}
        </td>
        <td>
          {{user.majorSpecificType}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
