<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.GROUPS.TITLE' | translate}}</h1>

  <button mat-flat-button color="accent" (click)="onCreateGroup()">
    {{'VO_DETAIL.GROUPS.CREATE_GROUP' | translate}}
  </button>
  <button mat-flat-button color="warn" class="ml-2" [disabled]="selected.selected.length === 0" (click)="deleteGroup()">
    {{'VO_DETAIL.GROUPS.DELETE_GROUP' | translate}}
  </button>
  <mat-checkbox color="primary" class="ml-3" [(ngModel)]="showTreeStructure" (change)="removeAllGroups()">
    Tree structure
  </mat-checkbox>
  <div class="mt-3">
    <app-groups-tree
      *ngIf="showTreeStructure"
      [groups]="groups"
      [selection]="selected" >
    </app-groups-tree>
    <app-groups-list
      [groups]="groups"
      [selection]="selected"
      *ngIf="!showTreeStructure">
    </app-groups-list>
  </div>
</div>
