<div class="container pt-3" *ngIf="vo !== undefined">
  <div>
    <h1 class="page-title">
      <a class="vo-link" [routerLink]="['/organizations/' + vo.id]">
        {{vo.name}}
      </a>
      / {{'VO_GROUPS.TITLE' | translate}}
    </h1>
  </div>
  <div class="card">
    <div class="card-body">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="reqId" matSortDirection="asc" matSortDisableClear class="w-100">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'GROUP.ID' | translate}}</th>
          <td mat-cell *matCellDef="let group">{{group.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'GROUP.NAME' | translate}}</th>
          <td mat-cell *matCellDef="let group">{{group.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let group; columns: displayedColumns;"
          [routerLink]="['/organizations', group.voId, 'groups', group.id]"
          class="hover-dark clickable">
        </tr>
      </table>
    </div>
  </div>
</div>
