<div class="accordion entity-menu-accordion" id="sideMenuAccordion">
  <app-side-menu-root-item
    [item]="accessItem">
  </app-side-menu-root-item>

  <app-side-menu-item
    *ngFor="let item of accessItems; let i = index"
    [item]="item"
    [index]="i"
    [showOpen]="true">
<!--    [showOpen]="i === items.length-1">-->
  </app-side-menu-item>

  <app-side-menu-root-item
    [item]="facilityItem">
  </app-side-menu-root-item>
  <app-side-menu-item
    *ngFor="let item of facilityItems; let i = index"
    [item]="item"
    [index]="i">
  </app-side-menu-item>

  <app-side-menu-root-item
    [showOpen]="adminItemOpened"
    [item]="adminItem">
  </app-side-menu-root-item>
</div>
