<div class="container-fluid pl-xl-5 pr-xl-5 vo-theme">
  <app-back-button>
  </app-back-button>
  <h1 class="page-title">{{'VO_MANAGEMENT.TITLE' | translate}}</h1>

  <app-vo-select-table [vos]="vos">
  </app-vo-select-table>
<!--  <form class="d-flex">-->
<!--    <mat-form-field class="w-100 main-input button-shadow vo-bg-color p-2 white-color-input">-->
<!--      <input-->
<!--        type="text"-->
<!--        placeholder="{{'VO_MANAGEMENT.INPUT_PLACEHOLDER' | translate}}"-->
<!--        aria-label="Number"-->
<!--        spellcheck="false"-->
<!--        matInput-->
<!--        [formControl]="formControl"-->
<!--        [matAutocomplete]="auto">-->
<!--      <mat-autocomplete-->
<!--        autoActiveFirstOption-->
<!--        #auto="matAutocomplete"-->
<!--        [displayWith]="displayFn //noinspection InvalidExpressionResultType"-->
<!--        (optionSelected)="voSelected($event)">-->
<!--        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--          {{option.name}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->
<!--&lt;!&ndash;-->
<!--    <button type="button" class="app-btn vo-btn" [disabled]="selectedVo === null">-->
<!--      <mat-icon aria-hidden="false">arrow_forward</mat-icon>-->
<!--    </button>&ndash;&gt;-->
<!--  </form>-->
</div>
