<div>
  <h1 class="page-subtitle">{{'VO_DETAIL.GROUPS.TITLE_SUBGROUPS' | translate}}</h1>

  <button class="ml-3" mat-flat-button color="accent" (click)="onCreateGroup()">
    {{'VO_DETAIL.GROUPS.CREATE_GROUP' | translate}}
  </button>
  <button mat-flat-button color="warn" class="ml-2" [disabled]="selectedGroups.size === 0">
    {{'VO_DETAIL.GROUPS.DELETE_GROUP' | translate}}
  </button>
  <mat-checkbox color="primary" class="ml-3" [(ngModel)]="showTreeStructure">
    Tree structure
  </mat-checkbox>
  <div class="mt-3">
    <app-groups-tree *ngIf="showTreeStructure" [groups]="groups">
    </app-groups-tree>
    <app-groups-list
      [groups]="groups"
      (groupSelectChange)="onGroupSelectChange($event)"
      *ngIf="!showTreeStructure">
    </app-groups-list>
  </div>
</div>
